.sideBar {
  position: fixed;
  padding: 10px;
  margin: 10px;
  overflow-wrap: break-word;
  background: #ebecf0;
  border-radius: 10px;
  border: 1px solid rgb(124, 120, 120);
  box-shadow: 5px 2px rgb(173 167 167 / 60%);
}

.domainList {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
@media (max-width: 1440px) {
  .sideBar {
    position: relative;
    max-width: 400px;
    margin: 10px auto;
  }
}
